<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechBlog</title>
    <link rel="stylesheet" type="text/css" href="/public/css/reset.css">
</head>
<body>

    <nav>
        <div>
            <ul>
                <li>
                    <a id="Home" href="/home">Home</a>
                </li>
                <li>
                    <a id="Dashboard" href="/dashboard">Dashboard</a>
                </li>
                <li>
                    <a id="Logout" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        <!-- Render the sub layout -->
        {{{ body }}}
    </main>

    <footer>

    </footer>
      <script src="/public/js/main.js"></script>
</body>
</html>